@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #1A1A1A;
  background-color: #FAFAF7;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
